@*Nhấn Ctr+Tab để chuyển đổi giưa các tab đang mở xem chế độ xem không còn được nữa
*@

@model Vidly.Models.Movie

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

